*
@import url(https://fonts.googleapis.com/css?family=Spicy+Rice:regular);
@import url(https://fonts.googleapis.com/css?family=Courgette:regular);
@import url(https://fonts.googleapis.com/css?family=Supermercado+One:regular);

*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

section {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(93, 65, 11), #000);
}

img {
    width: 20%;
    height: 25%;
}

.set{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}  

 .set div{
    position: absolute;
    display: block;    
} 

.set div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -2s;
}
.set div:nth-child(2){
    left: 50%;
    animation: animate 5s linear infinite;
}
.set div:nth-child(3){
    left: 70%;
    animation: animate 12s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(4){
    left: 0%;
    animation: animate 23s linear infinite;
    animation-delay: -4s;
}
.set div:nth-child(5){
    left: 42%;
    animation: animate 20s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(6){
    left: 33%;
    animation: animate 18s linear infinite;
    animation-delay: -2s;
}
.set div:nth-child(7){
    left: 60%;
    animation: animate 7s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(8){
    left: 16%;
    animation: animate 14s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(9){
    left: 95%;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(-20px) rotate(135deg)
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}
.set2{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);

}
.set3{
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);

}

/* .happy{
    font-family: monospace;    
    font-size: 24px;
    color: bisque;    
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} */
.fall{
    font-family:'Courgette', cursive;
    font-size: 8em;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    
    /* -webkit-animation: animate 10s linear infinite;
            animation: animate 10s linear infinite; */
    text-align: center;
    color: #fff;
    text-shadow: 0 15px 15px rgba(173, 219, 7, 0.5);
}
.happy {
    font-family:'Courgette', cursive;
    font-size: 8em;
    font-weight: bold;
    position: relative;    
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    /* -webkit-animation: animate 10s linear infinite;
            animation: animate 10s linear infinite; */
    text-align: center;
    color: #fff;
    text-shadow: 0 15px 15px rgba(240, 158, 7, 0.5);
}
/* Pumpkin */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #160909 0%, #160909 45%, #160909 100%, );
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.pumpkin {
    height: 15em;
    width: 15em;
    background: #f68632;
    border: 0.4em solid #a14907;
    border-radius: 75%/110%;
    position: relative;
    box-shadow: inset 0 0 20px #a14907, 0 0 30px -4px red;
    z-index: 1;
    animation: float 2s infinite;
}

.pumpkin .texture {
    height: 10.8em;
    width: 6.5em;
    position: absolute;
    bottom: -0.4em;
    left: 4em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #a14907;
    border-bottom: 0.5em solid #a14907;
}

.pumpkin .texture::after {
    content: '';
    display: block;
    height: 10.7em;
    width: 12em;
    position: absolute;
    bottom: -0.4em;
    left: -2.5em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #a14907;
    border-bottom: 0.5em solid #a14907;
}

.pumpkin .stump {
    background: #517f54;
    height: 2.8em;
    width: 1.25em;
    position: absolute;
    left: calc(7.5em - 0.65em);
    top: -2.7em;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
}

.pumpkin #eye {
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 0.8em solid transparent;
    top: 1.8em;
}

.pumpkin .eyeright {
    right: 2.4em;
    border-left: 2.4em solid #401b03;
    border-bottom: 2.1em solid transparent;
    transform: rotate(30deg);
}

.pumpkin .eyeleft {
    left: 3.7em;
    transform: rotate(-30deg);
    border-right: 2.4em solid #401b03;
    border-bottom: 2.1em solid transparent;
}

.pumpkin #mouth {
    border-bottom: 1em solid #401b03;
    position: absolute;
    width: 4em;
    height: 2.5em;
    bottom: 1.5em;

}

.pumpkin .mouthright {
   right: 3.6em;
    border-radius: 0 0 100% 0 ;
    
}

.pumpkin .mouthleft {
   left: 3.8em;
    border-radius: 0 0 0 100%;
    
}
.pumpkin .nose{
    position: absolute;
  top: 35%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5em 3em 1.5em;
  border-color: transparent transparent #401b03 transparent;
  margin-left: -1em;
}
.shadow{
    margin: 5% auto 0;
    background:rgb(192, 126, 26);
    width: 330px;
    height: 50px;
    border-radius: 50%;    
    animation:zoom 3s infinite;
    box-shadow: inset 0 0 20px #a14907, 0 0 30px -6px rgb(151, 10, 10);
    filter: blur(2px);

}

@keyframes float{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
}

@keyframes zoom{
    0%, 100% {
        transform: scale(1);
    }
   }